{{define "navbar"}}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">DevBook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Página Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Perfil</a>
                </li>
                <li class="nav-item">
                    <form class="d-flex" role="search" action="/search-profiles" method="GET">
                        <input class="form-control me-2" type="search" placeholder="Buscar usuários" aria-label="Search"
                            id="usuario" name="usuario">
                    </form>
                </li>
            </ul>
            <span class="navbar-text p-0">
                <a href="/logout"> Sair
                    <i class="fas fa-power-off"></i>
                </a>
            </span>

        </div>
    </div>
</nav>
{{ end }}