{{ define "likes" }}
<i class="fas fa-heart curtir-publicacao" style="cursor: pointer;"></i>
<span> {{ .Likes }} </span>
{{ end }}

{{ define "edit" }}
<a href="/publications/{{ .ID }}/update" style="text-decoration: none;">
    <i class="fas fa-edit"></i>
</a>
{{ end }}

{{ define "delete" }}
<i class="fas fa-trash text-danger delete-publication" style="cursor: pointer;"></i>
{{ end }}

{{ define "header" }}
<h1 class="display-4"> {{ .Title }} </h1>
<p class="lead">{{ .Description }}</p>
<a href="/profile/{{ .AuthorID }}"> {{ .AuthorUsername }} - {{ .CreateAt.Format "02/01/2006" }} </a>
<hr class="my-4">
{{ end }}


{{ define "publication-with-permission" }}
<div class="jumbotron" data-publicacao-id="{{ .ID }}">
    {{ template "header" . }}
    <p>
        {{ template "likes" . }}
        {{ template "edit" . }}
        {{ template "delete" . }}
    </p>
</div>
{{ end }}

{{ define "publication-no-permission" }}
<div class="jumbotron" data-publicacao-id="{{ .ID }}">
    {{ template "header" . }}
    <p>
        {{ template "likes" . }}
    </p>
</div>
{{ end }}