<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - {{ .Name }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
</head>

<body>
    {{template "navbar"}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Editar dados</h3>
                <form id="edit-user">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Insira seu nome"
                            value="{{ .Name }}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Insira seu e-mail"
                            value="{{ .Email }}" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Nome de Usuário</label>
                        <input type="username" class="form-control" id="username" name="username"
                            placeholder="Insira seu nome de usuário" value="{{ .Username }}" required>
                    </div>
                    <button type="submit" class="btn btn-info mt-2">Atualizar Dados</button>
                </form>
            </div>
        </div>
    </div>



    {{template "footer"}}
    {{template "scripts"}}
    <script src="/assets/js/user.js"></script>

</body>

</html>