<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
</head>

<body>
    {{template "navbar"}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <h3>Nova Publicação</h3>
                <fieldset>
                    <form action="" id="nova-publicacao">
                        <div class="form-group">
                            <label for="titulo">Título</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Título"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="conteudo">Conteúdo</label>
                            <textarea type="text" class="form-control" id="conteudo" name="conteudo"
                                placeholder="Conteúdo" required> </textarea>
                        </div>
                        <button class="btn btn-primary">Publicar</button>

                    </form>
                </fieldset>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                {{ range .Publications }}
                {{ if (eq .AuthorID $.UserID) }}
                {{ template "publication-with-permission" . }}
                {{ else }}
                {{ template "publication-no-permission" . }}
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    {{template "footer"}}
    {{template "scripts"}}
    <script src="assets/js/publication.js"></script>
</body>

</html>