<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Login</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="login">
                <span>Seja bem vindo ao DevBook</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" , required>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite a sua senha" , required>
                </div>
                <a href="/signup">Registre sua conta</a>
                <button class="btn-devbook" type="submit">Entrar</button>
            </form>
        </div>
    </div>
    {{ template "scripts"}}
    <script src="/assets/js/auth.js"></script>
</body>

</html>