<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - {{ .Name }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
</head>

<body>
    {{template "navbar"}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Perfil</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ .Name }} - {{ .Username }} - Membro desde:
                            {{ .CreatedAt.Format "02/01/2006" }}
                        </h6>

                        <p class="card-text" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <a href="#">Seguidores: {{ len .Followers }}</a>
                        </p>

                        <p class="card-text" data-bs-toggle="modal" data-bs-target="#following-modal">
                            <a href="#">Seguindo: {{ len .Following }}</a>
                        </p>

                        <div class="row">
                            <div class="col-12">
                                <a href="/edit-user" class="card-link">
                                    <button class="btn btn-info">Editar dados</button>
                                </a>
                                <a href="/update-password" class="card-link">
                                    <button class="btn btn-info">Atualizar senha</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Minhas publicações</h5>
                        <p class="card-text">
                            {{ range .Publications }}
                        <div class="jumbotron" data-publicacao-id="{{ .ID }}">
                            <h1 class="display-4"> {{ .Title }} </h1>
                            <p class="lead">{{ .Description }}</p>
                            <a href="/profile/{{ .AuthorID }}"> {{ .AuthorUsername }} - {{ .CreateAt.Format "02/01/2006" }} </a>
                            <hr class="my-4">
                            <p>
                                {{ template "likes" . }}
                            </p>
                        </div>
                        {{ else }}
                        <p class="text-muted text-center">Nenhuma publicação</p>
                        {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <a id="remove-account" class="card-link">
            <button class="btn btn-danger mt-2">Excluir conta permanentemente</button>
        </a>
    </div>
    
    {{template "modal-followers" . }}
    {{template "modal-following" . }}



    {{template "footer"}}
    {{template "scripts"}}
    <script src="/assets/js/publication.js"></script>
    <script src="/assets/js/user.js"></script>

</body>

</html>