<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Signup</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="form-signup">
                <span>Crie sua conta</span>
                <div>
                    <input type="text" name="name" id="name" placeholder="Digite o seu nome" , required>
                </div>
                <div>
                    <input type="text" name="username" id="username" placeholder="Digite o seu nome de usuário" ,
                        required>
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" , required>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Digite a sua senha" , required>
                </div>
                <div>
                    <input type="password" name="re-password" id="re-password"
                        placeholder="Confirme sua senha a sua senha" , required>
                </div>
                <a href="/login">Faça o login</a>
                <button class="btn-devbook" type="submit">Cadastrar conta</button>
            </form>
        </div>
    </div>
    {{template "scripts"}}
    <script src="/assets/js/create_user.js"></script>
</body>

</html>