<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar publicação</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

</head>

<body>
    {{template "navbar"}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Editar publicação</h3>
                <div class="form-group">
                    <label for="title">Título</label>
                    <input type="text" class="form-control" id="title" name="title"
                        placeholder="Insira o título da sua publicação" value="{{ .Title }}">
                </div>
                <div class="form-group">
                    <label for="title">Conteúdo</label>
                    <textarea class="form-control" id="description" name="description"
                        placeholder="Insira o conteúdo da sua publicação">{{ .Description }}</textarea>
                </div>
                <button class="btn btn-info mt-5" id="update-publication"
                    data-publication-id="{{ .ID }}">Atualizar</button>
            </div>
        </div>
    </div>


    {{template "footer"}}
    {{template "scripts"}}
    <script src="/assets/js/publication.js"></script>
</body>

</html>