<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - {{ .Name }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
</head>

<body>
    {{template "navbar"}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Editar dados</h3>
                <form id="edit-password">
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" name="password"
                            placeholder="Insira sua senha atual" required>
                    </div>
                    <div class="form-group">
                        <label for="new-password">Nova senha</label>
                        <input type="password" class="form-control" id="new-password" name="new-password"
                            placeholder="Insira sua nova senha" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm-new-password">Confirmar senha</label>
                        <input type="password" class="form-control" id="confirm-new-password" name="confirm-new-password"
                            placeholder="Confirmar nova senha" required>
                    </div>
                    <button type="submit" class="btn btn-info mt-2">Atualizar Senha</button>
                </form>
            </div>
        </div>
    </div>



    {{template "footer"}}
    {{template "scripts"}}
    <script src="/assets/js/user.js"></script>

</body>

</html>