<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - {{ .User.Name }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
</head>

<body>
    {{template "navbar"}}

    {{ $FollowedByUserLogged := false }}

    {{ range .User.Followers }}
        {{ if (eq .ID $.LoggedUserID )}}
            {{ $FollowedByUserLogged = true }}
        {{end}}
    {{end}}


    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Perfil do usuário</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ .User.Name }} - {{ .User.Username }} - Membro desde: {{ .User.CreatedAt.Format "02/01/2006" }}
                        </h6>

                        <p class="card-text" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <a href="#">Seguidores: {{ len .User.Followers }}</a>
                        </p>

                        <p class="card-text" data-bs-toggle="modal" data-bs-target="#following-modal" >
                            <a href="#">Seguindo: {{ len .User.Following }}</a>
                        </p>

                        <a href="" class="card-link">
                            {{ if $FollowedByUserLogged }}
                                <button class="btn btn-info" id="unfollow" data-user-id="{{ .User.ID }}">Deixar de seguir</button>
                            {{ else }}
                                <button class="btn btn-info" id="follow" data-user-id="{{ .User.ID }}">Seguir</button>
                            {{ end }}
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Publicaçõe do Usuário {{ .User.Username }}</h5>
                    <p class="card-text">
                        {{ range .User.Publications }}
                            <div class="jumbotron" data-publicacao-id="{{ .ID }}">
                                <h1 class="display-4"> {{ .Title }} </h1>
                                <p class="lead">{{ .Description }}</p>
                                <a href="/users/{{ .AuthorID }}"> {{ .AuthorUsername }} - {{ .CreateAt.Format "02/01/2006" }} </a>
                                <hr class="my-4">
                                <p>
                                    {{ template "likes" . }}
                                </p>
                            </div>
                        {{ else }}
                            <p class="text-muted text-center">Nenhuma publicação</p>
                        {{ end }}
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
    {{template "modal-followers" .User }}
    {{template "modal-following" .User }}
    {{template "footer"}}
    {{template "scripts"}}
    <script src="/assets/js/publication.js"></script>
    <script src="/assets/js/user.js"></script>

</body>

</html>