<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
</head>

<body>
    {{template "navbar"}}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-title">Usuários encontrados</h5>
                    {{range .}}
                    <p class="card-text">
                        {{ .Name }} - <a href="/users/{{ .ID }}"> {{ .Username }} </a> - Membro desde:
                        {{ .CreatedAt.Format "02/01/2006" }}
                    </p>
                    {{ else }}
                    <p class="card-text">
                        Nenhum usuário encontrado!
                    </p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>


    {{template "footer"}}
    {{template "scripts"}}
</body>

</html>