* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



a {
    font-size: 16px;
    color: #3b5998;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
}

input {
    outline: none;
    border: none;
    color: #3b5998;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 62px;
    padding: 0 20px 0 38px;
}

input::placeholder {
    color: #8f8fa1;
}

.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.container-login>div {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 50px 0 90px 0;
}

.devbook-form>span {
    font-size: 30px;
    color: #3b5998;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 30px;
}

.devbook-form>div {
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 16px;
}

.btn-devbook {
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    padding: 0 20px;
    width: 100%;
    height: 62px;
    background-color: #3b5998;
    outline: none;
    border: none
}

.btn-devbook:hover {
    cursor: pointer;
}